profiles {
    docker {
        process.executor = "local"
        process.container = "hadrieng/hmp:0.1.0"
        docker.enabled = true
        cpus = 2
    }

    planetsmasher {
        process.executor = "sge"

        process {
            withName: fastqc {
                penv = 'smp'
                cpus = 8
                time = '24h'
                clusterOptions = "-l h_vmem=1G -S /bin/bash"
                module = "fastqc"
            }
            withName: fastp {
                penv = 'smp'
                cpus = 8
                time = '24h'
                clusterOptions = "-l h_vmem=1G -S /bin/bash"
                module = "fastp"
            }
            withName: megahit {
                penv = 'smp'
                cpus = 24
                time = '240h'
                clusterOptions = "-l h_vmem=10G -S /bin/bash"
                module = "megahit/1.2.9"
            }
            withName: quast {
                penv = 'smp'
                cpus = 8
                time = '24h'
                clusterOptions = "-l h_vmem=1G -S /bin/bash"
                module = "quast"
            }
            withName: bowtie {
                penv = 'smp'
                cpus = 8
                time = '48h'
                clusterOptions = "-l h_vmem=1G -S /bin/bash"
                module = "bowtie/2.3.5:samtools"
            }
            withName: metabat {
                penv = 'smp'
                cpus = 24
                time = '240h'
                clusterOptions = "-l h_vmem=10G -S /bin/bash"
            }
            withName: checkm {
                penv = 'smp'
                cpus = 8
                time = '48h'
                clusterOptions = "-l h_vmem=10G -S /bin/bash"
            }
            withName: gtdbtk {
                penv = 'smp'
                cpus = 24
                time = '240h'
                clusterOptions = "-l h_vmem=20G -S /bin/bash"
                module = "prodigal:hmmer"
            }
            withName: prokka {
                penv = 'smp'
                cpus = 8
                time = '24h'
                clusterOptions = "-l h_vmem=2G -S /bin/bash"
                module = "prokka"
            }
            withName: eggnog {
                penv = 'smp'
                cpus = 24
                time = '240h'
                clusterOptions = "-l h_vmem=10G -S /bin/bash"
            }
            withName: kraken {
                penv = 'smp'
                cpus = 24
                time = '100h'
                clusterOptions = "-l h_vmem=20G -S /bin/bash"
                module = "kraken2"
            }
            withName: bracken {
                penv = 'smp'
                cpus = 24
                time = '100h'
                clusterOptions = "-l h_vmem=10G -S /bin/bash"
                module = "bracken"
            }
            withName: plass {
                penv = 'smp'
                cpus = 24
                time = '240h'
                clusterOptions = "-l h_vmem=20G -S /bin/bash"
                module = "plass/2-26b5d"
            }                      
        }
    }
}

params {
    output = "./tests/results/"
    reads = "tests/data/*_R{1,2}.fastq.gz"
    kraken_db = "tests/db/tiny"
}