profiles {
    docker {
        process.executor = "local"
        process.container = "hadrieng/hmp:0.1.0"
        docker.enabled = true
        cpus = 2
    }

    planetsmasher {
        process.executor = "sge"
        executor {
            penv = "smp"
            clusterOptions = "-S /bin/bash"
        }

        process {
            withName: fastqc {
                cpus = 8
                clusterOptions = "-l h_vmem=1G"
                module = "fastqc"
            }
            withName: fastp {
                cpus = 8
                clusterOptions = "-l h_vmem=1G"
                module = "fastp"
            }
            withName: megahit {
                cpus = 24
                clusterOptions = "-l h_vmem=10G"
                module = "megahit/1.2.9"
            }
            withName: quast {
                cpus = 8
                clusterOptions = "-l h_vmem=1G"
                module = "quast"
            }
            withName: bowtie {
                cpus = 8
                clusterOptions = "-l h_vmem=1G"
                module = "bowtie/2.3.5"
            }
            withName: metabat {
                cpus = 24
                clusterOptions = "-l h_vmem=10G"
                module = "metabat/2.11.1"
            }
            withName: checkm {
                cpus = 8
                clusterOptions = "-l h_vmem=10G"
            }             
        }
    }
}

params {
    output = "./tests/results/"
    reads = "tests/data/*_R{1,2}.fastq.gz"
}